# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Rust
/target/
**/target/
**/*.rs.bk
Cargo.lock

# Environment
.env
.env.local

# Build artifacts
/dist/
/build/

# Node
node_modules/
.expo/
*.hprof

# Tauri
desktop/src-tauri/target/
